<div class="container mt-4 mb-5">

    
                
    <h1 class="text-center">Contato</h1>

    <p class="text-center">
        
        RUA DO   AMOR NUMERO 157
        TELEFONE 9889868797
          

    </p>


    <form >
              

        <a routerLink="../menu" class="btn btn-sm btn-warning mb-4">Voltar</a>
        <div class="row">


            <div class="col-lg-6 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Digite  Seu Nome">
           

            </div>   

            <div class="col-lg-6 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Digite  Seu Sobrenome">
           

            </div>   


            <div class="col-lg-6 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Digite  Seu Email">
           

            </div>   


            <div class="col-lg-6 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Digite  Seu Telefone">
           

            </div>   

            <div class="col-lg-6 mt-2 mb-2">
                <button class="btn btn-md btn-success mt-3">Enviar</button>
            </div>
            


        </div>

        

     </form>
    
</div>


 