<main class="background">
    <div id="sobre-container" class="container">
        <div class="sobre">
       
            <h1 class="text-center">conheça um pouco sobre nós</h1>

            <p>

                Bem-vindo à Pizzaria Figurati, o lugar onde você encontrará as melhores e mais saborosas pizzas artesanais da região. Localizada no coração da cidade, a Figurati nasceu com o propósito de proporcionar aos nossos clientes momentos de prazer e 
                indulgência através de uma experiência gastronômica única.
        Nossa missão é reinventar o conceito de pizza, combinando tradição e inovação para entregar um produto diferenciado e 
        de alta qualidade. Acreditamos que a pizza é muito mais do que apenas uma refeição rápida, 
        é uma experiência social, onde famílias e amigos se reúnem para compartilhar momentos especiais e celebrar a 
        vida.

        <p>
        Na Pizzaria Figurati, todas as nossas pizzas são feitas à mão, com ingredientes frescos e seleção 
        cuidadosa dos melhores produtos. Nossa massa é preparada diariamente, garantindo uma textura leve e crocante, 
        que é a base perfeita para os mais diversos sabores. Nossa variedade de ingredientes é vasta, desde os 
        tradicionais sabores clássicos, como napolitana e calabresa, 
        até opções mais inusitadas e criativas, que despertarão seu paladar para novas combinações de sabores.
        </p>

        <p>Além da qualidade dos nossos produtos, a Figurati se preocupa também com um excelente atendimento. Nossa equipe de funcionários é treinada para recebê-lo de forma calorosa e amigável, 
            proporcionando uma experiência agradável e acolhedora a cada visita.</p>

            <p>Então, se você está em busca de uma verdadeira experiência gastronômica, venha nos visitar na Pizzaria Figurati. Estamos prontos para recebê-lo e encantar seu paladar com nossas pizzas artesanais 
                deliciosas e únicas. Figurati, onde pizza é arte!</p>
            
    </div>
</div>
</main>



 