

<main class="background">

  <div class="barra-text-center"> 
    <input id="barra-pesquisa" type="text" placeholder="Pesquisar Produto" [(ngModel)]="searchItem"  style="width: 50vh;" >
    <button (click)="filterItems()"  class="btn btn-primary"  type="button">
      <i class="bi bi-search"></i> <!-- Substitua "bi bi-search" pelo nome do ícone do Bootstrap Icons -->
    </button>
  </div>



  <section id="menu-pizzas">
    
  <div class="teste">

    <div class="aaa" *ngFor= " let f of pizzas  ">
    
      <div class="pizza-img-container">

        <div class="pizza-img">
            <img src="{{f.pizzaImg}}" alt="">
        </div>

        <div class="teste-insano">
          <div class="pizza-img-text">
              <p id="nome-pizza">{{f.pizzaName}}</p>
              <p id="preco-pizza">{{f.pizzaPrice | currency:'BRL'}}</p> 
          </div>
        </div>
          
      </div>

      
      <div class="centralizar-botao">
        <button class="btn-pedido" (click)="adicionarAoCarrinho(f)">
        <div class="botao-menu-container">
            <div class="botao-menu">
              <p>+ CARRINHO</p>
            </div>
            <i class=""></i> 
        </div>
      </button> 
    </div>
 

    </div>
  </div>

</section>

<div class="car" (click)="navegarParaItensCarrinho()">
  <div class="carrinho-menu-container">
    <div class="carrinho-menu">
      <div class="cart-icon-container">
        <img src="https://i.imgur.com/P7LnFmn.png" alt="">
      </div>
      <div class="cart-number-container">
        <span>{{carrinhoService.quantidadeItens}}</span>
      </div>
    </div>
  </div>
  
</div>

</main>