<main class="background">
  <div id="h1-carrinho">
    <h1>Itens do <span>Carrinho</span></h1>
  </div>
  
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Imagem</th>
          <th>Nome</th>
          <th>Detalhes</th>
          <th>Preço</th>
          <th>Ações</th>
        </tr>
      </thead>
  
      <tbody>
        <tr *ngFor="let item of pizzas; index as i">
          <td>{{ i + 1 }}</td>
          <td><img id="imagem-car" src="{{item.pizzaImg}}" alt="{{item.pizzaName}}" width="100"></td>
          <td>{{ item.pizzaName }}</td>
          <td>{{ item.pizzaDetails }}</td>
          <td>{{ item.pizzaPrice  | currency:'BRL'}}</td>
  
          <td>
            <button class="btn-pedido" (click)="removerPedido(i)">
              <div class="botao-menu-container">
                  <div class="botao-menu">
                    <p>REMOVER</p>
                  </div>
                  <i class=""></i> 
              </div>
            </button> 
          </td>
        </tr>
      </tbody>
    </table>


    <div id="btn-finalizar-container" class="text-center">
      <button class="btn-finalizar" (click)="finalizar()">
      <div class="botao-menu-container">
          <div class="botao-menu">
            <p>FINALIZAR</p>
          </div>
          <i class=""></i> 
      </div>
    </button> 
  </div>

</main>


    