/* You can add global styles to this file, and also import other style files */
*{
    padding: 0;
    margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    background: linear-gradient(90deg, #FFE7D1 0%, #FFF2E6 100% );
  padding: 0 1rem;
}

